h2, p {
        font-family: sans-serif;
  }

  button{
        background-color: crimson;
        padding: 10px 20px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        position: relative;
        left: end;
  }

  .pos-left{
    position: relative;
    left: end;
    text-decoration: black;
  }

  .intro_page{    
    background-image: url("https://icon-library.com/images/fitness-icon/fitness-icon-11.jpg");
    background-size: contain;
    opacity: initial;
    flood-opacity: 50%;
  }
